<h1><%=h @title %>ページの作成</h1>

<div class="hatena-body">
<div class="main">

<div id="days">
<div class="day">
<div class="body">
<div class="section">

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>

<%= link_to 'Back', pages_path %>
</div>
</div>
</div>

<div class="calendar" id="pager-bottom">
</div>
</div>

